#container {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100vw;
	height: 95vh;
}

#chart {
	background: #eee;
	box-shadow: 0 0 10px black;
}

#title {
	font-size: 1.8em;
}

#legend-label {
	text-anchor: end;
	font-size: 0.8em;
}

#tooltip {
	position: absolute;
	border-radius: 5px;
	padding: 0.5em 2em;
	box-shadow: 0 0 3px black;

	background-color: #fdff9c;
	
	opacity: 0.9;
	visibility: hidden; 
	/* transition: visibility 100ms; */
	font-size: 0.8em;
	text-align: center;
}

.county:hover {
    stroke: black;
    stroke-width: 1;
 }
