.desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98vw;
    height: 97vh;
    border: 3px solid black;
    border-radius: 10px;
    background-color: var(--indigo);
    position: relative;
    overflow: hidden;
}

@media (max-width: 600px) {
.desktop {
    height: 94vh;    
}
}