.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    color: var(--wheat);
    background-color: var(--dark-indigo);
    position: relative;
    z-index: 1000;
    border-bottom: 2px solid black;
}

.clock {
    margin-right: 3rem;
    font-size: 1.5rem;
}

.title-header {
    margin-left: 3rem;
}