.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-indigo);
    border-top: 2px solid black;
    height: 4rem;
    width: 100%;
    z-index: 1000;
}

.home-btn, .back-btn {
    width: 2rem;
    height: 2rem;
    filter: invert(100%);
}